<ion-view>
    <ion-content class="padding">
        <my-tabs>
            <my-pane ng-repeat="(dayIndex, day) in vm.eventDays" title="{{day.title}}">
                <div class="event" ng-repeat="(eventIndex, event) in vm.eventDays[dayIndex].events">
                    <div class="event-time">{{event.start}}<i class="icon ion-ios-arrow-down fs24"></i></div>
                    <div class="event-title">{{event.title}}</div>
                    <article class="wrapp" ng-class="{'display' : vm.toggled}">
                        <div class="event-content" ng-bind-html="event.content"></div>
                        <div class="author clearfix" ng-repeat="author in vm.eventDays[dayIndex].events[eventIndex].authors">
                            <div class="author-thumb">
                                <img ng-src="{{author.thumb.small[0]}}" alt="{{author.author_name}}">
                            </div>
                            <div class="author-name">
                                {{author.author_name}}
                                <span>{{author.location}}</span>
                            </div>
                        </div>
                    </article>
                </div>
            </my-pane>
        </my-tabs>

        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Yes or No?</h4>
                        </div>
                        <div class="modal-body">
                            <p>It's your call...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

    </ion-content>
</ion-view>