<!--<ion-view>
    <ion-content class="padding">
        <p ng-repeat="day in vm.eventDays" ui-sref="session.one({id: day.id})">
            {{day.title}}
        </p>
    </ion-content>
</ion-view>-->
<ion-view>
    <ion-content class="padding">
        <!--<days-menu days="vm.eventDays"></days-menu>-->

        <my-tabs>
            <my-pane ng-repeat="(dayIndex, day) in vm.eventDays" title="{{day.title}}">
                <div class="event" ng-repeat="(eventIndex, event) in vm.eventDays[dayIndex].events">
                    <div class="event-time">{{event.start}}<i class="icon ion-ios-arrow-down fs24"></i></div>
                    <div class="event-title">{{event.title}}</div>
                    <article class="wrapp" ng-class="{'display' : vm.toggled}">
                        <div class="event-content" ng-bind-html="event.content"></div>
                        <div class="author clearfix" ng-repeat="author in vm.eventDays[dayIndex].events[eventIndex].authors">
                            <div class="author-thumb">
                                <img ng-src="{{author.thumb.small[0]}}" alt="{{author.author_name}}">
                            </div>
                            <div class="author-name">
                                {{author.author_name}}
                                <span>{{author.location}}</span>
                            </div>
                        </div>
                    </article>
                </div>
            </my-pane>
        </my-tabs>

    </ion-content>
</ion-view>