<ion-view>
    <ion-content class="padding">
        <my-tabs>
            <my-pane ng-repeat="(dayIndex, day) in vm.eventDays" title="{{day.title}}">
                <div class="event" ng-repeat="(eventIndex, event) in vm.eventDays[dayIndex].events">
                    <div class="event-time">{{event.start}}<i ng-if="event.content || event.authors.length" class="icon ion-ios-arrow-down fs24"></i></div>
                    <div class="event-title">{{event.title}}</div>
                    <article class="wrapp" ng-class="{'display' : vm.toggled}">
                        <div class="event-content" ng-bind-html="event.content"></div>
                        <div class="author clearfix" ng-click="vm.openAuthor(author.author_id)" ng-repeat="author in vm.eventDays[dayIndex].events[eventIndex].authors">
                            <div class="author-thumb">
                                <img ng-src="{{author.thumb.small[0]}}" alt="{{author.author_name}}">
                            </div>
                            <div class="author-name">
                                {{author.author_name}}
                                <span>{{author.location}}</span>
                            </div>
                        </div>
                    </article>
                </div>
            </my-pane>
        </my-tabs>

        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
                <button type="button" class="close" ng-click="close('Cancel')">&times;</button>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <img class="m-author-thumb" ng-src="{{author.thumb.large[0]}}" alt="{{author.title}}">
                        <h4>{{author.title}}</h4>
                        <p ng-bind-html="author.content"></p>
                    </div>
                </div>
            </div>
        </script>

    </ion-content>
</ion-view>