<!--<ion-view>
    <ion-content class="padding">
        <p ng-repeat="day in vm.eventDays" ui-sref="session.one({id: day.id})">
            {{day.title}}
        </p>
    </ion-content>
</ion-view>-->
<ion-view>
    <ion-content class="padding">
        <!--<days-menu days="vm.eventDays"></days-menu>-->

        <my-tabs>
            <my-pane ng-repeat="day in vm.eventDays" title="{{day.title}}">
                <div ng-repeat="event in vm.eventDays[$parent.$index].events">{{event}}</div>
            </my-pane>
        </my-tabs>
    </ion-content>
</ion-view>