<!--<ion-view>
    <ion-content class="padding">
        <p ng-repeat="day in vm.eventDays" ui-sref="session.one({id: day.id})">
            {{day.title}}
        </p>
    </ion-content>
</ion-view>-->
<ion-view>
    <ion-content class="padding">
        <!--<days-menu days="vm.eventDays"></days-menu>-->

        <my-tabs>
            <my-pane ng-repeat="(dayIndex, day) in vm.eventDays" title="{{::day.title}}">
                <div ng-repeat="(eventIndex, event) in vm.eventDays[dayIndex].events">{{::event.title}}
                    <div style="background: #000; color:#fff" ng-repeat="author in vm.eventDays[dayIndex].events[eventIndex].authors">{{::author.author_name}}</div>
                </div>
            </my-pane>
        </my-tabs>

        <div ng-click="vm.cl()">wadawd</div>
    </ion-content>
</ion-view>