<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ buttonClicked }} clicked!!</h4>
            </div>
            <div class="modal-body" ng-transclude></div>
        </div>
    </div>
</div>