<ion-view>
    <ion-content class="padding">
        <div class="b-author">
            <a href="https://www.bopss.co.uk/bopss-meetings/speakers/saj-atallauh/">
                <div class="b-author__image" style="background-image: url('https://www.bopss.co.uk/bopss-uploads/Saj-Ataullah-2016_400x399.jpg')"></div>
            </a>
            <div class="b-author__name">
                <a href="https://www.bopss.co.uk/bopss-meetings/speakers/saj-atallauh/">
                        Saj Ataullah                    </a>
            </div>
        </div>
    </ion-content>
</ion-view>