<ion-view>
    <ion-content class="padding">
        <div class="b-author" ng-repeat="speaker in vm.speakers track by $index">
            <a href="{{speaker.thumb.small[0]}}">
                <div class="b-author__image" style="background-image: url('{{speaker.thumb.small[0]}}')"></div>
            </a>
            <div class="b-author__name">
                <a href="#">{{speaker.full_name}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>