<ion-view>
    <ion-content class="padding">
        <p class="text-center"><img src="img/logo.png" alt="BOPSS logo"></p>
        <ul class="menu-row">
            <li class="menu-row-item">
                <div class="menu-row-card">
                    1
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    Lorem ipsum dolor
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    1
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    1
                </div>
            </li>
            <li ng-click="vm.fff()" class="menu-row-item">
                <div class="menu-row-card">
                    Lorem ipsum
                </div>
            </li>
        </ul>
        <my-tabs>
            <my-pane title="Hello">
                <p>Lorem ipsum dolor sit amet</p>
            </my-pane>
            <my-pane title="World">
                <em>Mauris elementum elementum enim at suscipit.</em>
                <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
            </my-pane>
        </my-tabs>
    </ion-content>
</ion-view>