<ion-view>
    <ion-content class="padding">
        <p class="text-center"><img src="img/logo.png" alt="BOPSS logo"></p>
        <ul class="menu-row">
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 9754})">
                    <span>Meeting info</span>
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 3351})">
                    <span>About BOPSS</span>
                </div>
            </li>
            <li class="menu-row-item" ui-sref="pages({id: 10043})">
                <div class="menu-row-card">
                    <span>Exhibitors</span>
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 10059})">
                    <span>Social Programme</span>
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 10889})">
                    <span>Abstract &amp; ePosters listing</span>
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 10432})">
                    <span>Feedback Forms - London</span>
                </div>
            </li>
            <li class="menu-row-item" ui-sref="location">
                <div class="menu-row-card">
                    <span>Maps</span>
                </div>
            </li>
            <li class="menu-row-item" ng-click="vm.fff()">
                <div class="menu-row-card">
                    <span>Maps</span>
                </div>
            </li>

        </ul>
    </ion-content>
</ion-view>