<ion-view>
    <ion-content class="padding">
        <p class="text-center"><img src="img/logo.png" alt="BOPSS logo"></p>
        <ul class="menu-row">
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 9754})">
                    2
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    Lorem ipsum dolor
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    1
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card">
                    1
                </div>
            </li>
            <li ng-click="vm.fff()" class="menu-row-item">
                <div class="menu-row-card">
                    Lorem ipsum
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>