<ion-view>
    <ion-content class="padding">
        <p class="text-center"><img src="img/logo.png" alt="BOPSS logo"></p>
        <ul class="menu-row">
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 9754})">
                    Meeting info
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 3351})">
                    About BOPSS
                </div>
            </li>
            <li class="menu-row-item" ui-sref="pages({id: 10043})">
                <div class="menu-row-card">
                    Exhibitors
                </div>
            </li>
            <li class="menu-row-item">
                <div class="menu-row-card" ui-sref="pages({id: 10059})">
                    Social Programme
                </div>
            </li>
            <li class="menu-row-item" ui-sref="location">
                <div class="menu-row-card">
                    Maps TBD
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>