<ion-view>
    <ion-content class="padding">
        <p ng-repeat="event in vm.dayEvents track by $index">
            <span>{{event.start}} -</span> {{event.title}}
        </p>
    </ion-content>
</ion-view>