<div class="tabbable">
    <ul class="day-tabs clearfix">
        <li ng-repeat="pane in panes" class="day-tabs-item" ng-class="{active:pane.selected}">
            <a href="" ng-click="select(pane)">{{pane.title}}</a>
        </li>
    </ul>
    <div class="tab-content" ng-transclude></div>
</div>