/* Empty. Add your own CSS if you like */
.bar.bar-header,
.bar.bar-footer {
    background: #514e87!important;
}

#loading-bar div.bar {
    padding: 0;
    background: #de001d; 
    border: 0;
}

.display {
    display: none!important;
}

.easy-table th, .easy-table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.easy-table tr td:last-child span {
    color: #fff;
}

a {
    color: #514e87;
    text-decoration: none;
    background-color: transparent;
}

body a {
    outline: none !important;
}

div#loading-bar-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.44);
}

div#loading-bar-spinner .spinner-icon {
    width: 51px;
    height: 51px;
    border: 6px solid transparent;
}

body {
    color: #777777;
}

a:hover {
    color: #5b5797;}

.bar.bar-header i,
.bar.bar-stable .title {
    color: #fff;
}

.bar.bar-footer {
    justify-content: space-around;
    height: 55px;
}

.scroll-content {
    bottom: 55px;
    top: 50px;
}

.bar.bar-header {
    height: 50px
}

.bar-footer .tab-item {
    width: 100%;
    text-align: center;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.tab-item i.icon {
	border: 2px solid #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-item__active.tab-item i.icon {
    border-color: #ea8c27;
}

.menu-row {
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.menu-row .menu-row-item {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
}
.menu-row-card {
        margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    min-height: auto;
    background-color: #fff;
    border: 3px solid #514e87;
    border-radius: 6px;
    text-align: center;
    font-size: 1.1em;
    color: #777777;
    font-weight: bold;
    padding: 6px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
}

.back-text {
    display: none!important;
}

.b-author {
    width: 21%;
    margin: 2%;
    float: left;
    background: #edecf2;
    border: 1px solid #dcdae7;
    padding: 2px;
}

.b-author__name {
    padding: 10px 1px 0;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	line-height: 1em;
	min-height: 40px;
}

.b-author__name a {
    font-weight: 600;
    font-size: 13px;
    color: #514e87;
}

.b-author__image {
    height: 180px;
    background-size: cover;
    background-position: center top;
}

.speakers-view {
    max-width: 900px;
    margin: 0 auto;
}


@media screen and (max-width: 610px) {
    .b-author {
        width: 31.333333%;
        margin: 1%;
        float: left;
        background: #edecf2;
        border: 1px solid #dcdae7;
        padding: 2px;   
    }
}


@media screen and (max-width: 465px) {
    .b-author {
        width: 46%;
        margin: 2%;
        float: left;
        background: #edecf2;
        border: 1px solid #dcdae7;
        padding: 2px;   
    }
}

.member {
    padding: 0 8px;
    margin-bottom: 16px;
    width: 100%;
}

@media screen and (min-width: 450px) {
    .member {
        float: right;
        width: auto; 
        max-width: 300px;   
    }
}

.thumb-info .thumb-info-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    margin: 4px;
    overflow: hidden;
    display: block;
    position: relative;
}

.thumb-info {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 100%;
    background-color: #EEECF3;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.thumb-info .thumb-info-title {
    background: #000;
    bottom: 10%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-width: 90%;
}

.thumb-info-caption .thumb-info-caption-text {
    font-size: 1.1em;
    display: block;
    margin: 0 0 8px;
    padding: 10px;
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.day-tabs-item {
    float: left;
    width: 33.33333%;
    text-align: center;
    background-color: rgba(81,78,135,0.1);
}

.day-tabs-item a {
    display: block;
    text-decoration: none;
    min-height: 86px;
    font-size: 16px;
    color: rgb(119, 119, 119);
    font-weight: 700;
    line-height: 1.143em;
    padding: 23px 8px;
    position: relative;
}

@media screen and (max-width: 476px) {
    .day-tabs-item a {
    min-height: 100px;
    }
}

.fs24 {
    font-size: 24px;
}


.day-tabs-item.active a {
    color: #fff;
}

.day-tabs-item.active a::after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #514e87;
    bottom: -20px;
    left: calc(50% - 10px);
}

.event {
    padding: 20px 15px;
    border-bottom: 1px solid;
    border-color: #514e87;
}

.event-time {
    color: #514e87;
    font-size: 14px;
    font-weight: 700;
}

.event-time .icon {
    float: right;
}

.event-title {
    font-size: 18px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: -1px;
    color: #777;
}

.author-thumb {
    float: left;
    margin: 15px 15px 0 0;
    height: 48px;
    width: 48px;
}

.author-thumb img {
    width: 100%;
}

.author-name {
    margin-top: 15px;
    color: #777;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    float: left;
    padding-bottom: 10px;
}

.author {
    clear: left;
}

.modal {
    display: block;
    position: absolute;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    padding: 20px;
    z-index: 10;
    overflow: auto;
    min-height: 96%;
    height: 96%;
    width: 96%;
    background-color: #fff;
}

button.close {
    background: transparent;
    border: 0;
    font-size: 25px;
    position: fixed;
    right: 10px;
    top: 10px;
}


.aligncenter {
    margin: 0 auto;
    display: block;
}

.pf-content ul {
    list-style: disc!important;
        padding-left: 20px;
}

.bar.bar-header i {
border: 2px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.bar.bar-header i::before {
    font-size: 24px!important;
}

.author-name span {
    font-weight: 400;
    display: block;
}

.day-tabs-item.active {
    background-color: #514e87;
}

.location-state .scroll {
    height: 100%;
}

#gmaps {
    width: 100%;
    height: 100%;
}

.m-author-thumb {
    max-height: 35vh;
    display: block;
    margin: 0 auto; 
}