<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

</head>

<body ng-app="app">
  <!--
      The nav bar that will be updated as we navigate between views.
    -->

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
  <ion-nav-view></ion-nav-view>

  <app-footer></app-footer>

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic/js/angular/angular-resource.js"></script>
  <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="app.module.js"></script>
  <script src="core/core.module.js"></script>
  <script src="core/app.config.js"></script>
  <script src="core/blocks/directives/directives.module.js"></script>
  <script src="templates/about/about.module.js"></script>
  <script src="templates/session/session.module.js"></script>
  <script src="templates/speakers/speakers.module.js"></script>
  <script src="templates/static/static.module.js"></script>
  <script src="templates/location/location.module.js"></script>

  <script src="core/blocks/directives/app-footer/app.footer.directive.js"></script>
  <script src="core/blocks/directives/days-menu/days.menu.directive.js"></script>
  <script src="core/blocks/directives/my-tabs/my.tabs.directive.js"></script>
  <script src="core/blocks/directives/my-pane/my.pane.directive.js"></script>
  <!--<script src="js/controllers.js"></script>-->
  <script src="core/blocks/directives/my-tabs/my.tabs.controller.js"></script>
  <script src="templates/about/about.controller.js"></script>
  <script src="templates/session/all/all.sessions.controller.js"></script>
  <script src="templates/session/one/one.session.controller.js"></script>
  <script src="templates/speakers/all/all.speakers.controller.js"></script>
  <script src="templates/speakers/one/one.speaker.controller.js"></script>
  <script src="templates/static/static.controller.js"></script>
  <script src="templates/location/location.controller.js"></script>

  <script src="services/events.service.js"></script>
  <script src="services/speakers.service.js"></script>
  <script src="services/pages.service.js"></script>



  <script async defer src="{{'https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1ddmc4snGh02b9l-QkKfcu2RDhKawT4&callback=' + initMap}}"
    type="text/javascript"></script>
  <!--<script src="js/services.js"></script>s-->
</body>

</html>