<ion-view>
    <ion-content class="padding">
        <article class="member member-col-1  post-10529 tcode_artist type-tcode_artist status-publish has-post-thumbnail hentry category-88 category-bopss-meeting category-speakers"
            style="position: absolute; left: 0px; top: 0px;">
            <div class="member-item ">
                <span class="thumb-info thumb-info-hide-wrapper-bg">
                    <a class="text-decoration-none" href="https://www.bopss.co.uk/bopss-meetings/speakers/saj-atallauh/">
                        <span class="thumb-info-wrapper">
                            <img class="img-responsive" width="400" height="399" src="https://www.bopss.co.uk/bopss-uploads/Saj-Ataullah-2016_400x399.jpg" alt="">
                                                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Saj Ataullah</span>
                </span>
                <span class="zoom" data-src="https://www.bopss.co.uk/bopss-uploads/Saj-Ataullah-2016_400x399.jpg" data-title=""><i class="fa fa-search"></i></span>
                </span>
                </a>
                <span class="thumb-info-caption">
                                            <span class="thumb-info-caption-text">
                        Manchester                        </span>
                <span class="thumb-info-social-icons share-links b-none">
                                                    </span>
                </span>
                </span>
            </div>
        </article>
        <img ng-src="{{vm.speaker.thumb.large[0]}}" alt="{{vm.speaker.title}}">
        <p ng-bind-html="vm.speaker.content"></p>
    </ion-content>
</ion-view>