<ion-view>
    <ion-content class="padding">
        <article class="member">
            <div class="member-item ">
                <div class="thumb-info thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper">
                        <img class="img-responsive" src="https://www.bopss.co.uk/bopss-uploads/Saj-Ataullah-2016_400x399.jpg" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">Saj Ataullah</span>
                        </span>
                    </div>
                    <div class="thumb-info-caption">
                        <span class="thumb-info-caption-text">Manchester</span>
                        <span class="thumb-info-social-icons share-links b-none"></span>
                    </div>
                </div>
            </div>
        </article>
        <img ng-src="{{vm.speaker.thumb.large[0]}}" alt="{{vm.speaker.title}}">
        <p ng-bind-html="vm.speaker.content"></p>
    </ion-content>
</ion-view>