<ion-view>
    <ion-content class="padding">
        <img ng-src="{{vm.speaker.thumb.large[0]}}" alt="{{vm.speaker.title}}">
        <p ng-bind-html="vm.speaker.content"></p>
    </ion-content>
</ion-view>