<nav role="navigation">
    <ul>
        <li ng-repeat="day in days" class="tab-item">
            <a ui-sref="session.one({id: day.id})">{{day.title}}</a>
        </li>
    </ul>
    <ui-view></ui-view>

</nav>