<ion-footer-bar>
    <div ng-repeat="tab in tabs" class="tab-item" ui-sref-active="tab-item__active" ui-sref="{{tab.name}}">
        <i class="icon {{tab.settings.iconClass}}"></i>
    </div>
</ion-footer-bar>