<!--<ion-view>
    <ion-content class="padding">-->
<div>
    <p ng-repeat="event in vm.dayEvents track by $index">
        <span>{{event.start}} -</span> {{event.title}}
    </p>
</div>
<!--</ion-content>
</ion-view>-->